body {
    background-color: #ededed;
  }
  
  #portuguesDiv, #enderianDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888;
    background-color: #fff;
  }
  
  h1 {
    font-family: Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
  
  input[type="text"] {
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888;
    width: 100%;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
  }

  @font-face {
    font-family: Enderian;
    src: url("../tradutor-de-Enderian/src enderian.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

  #enderianInput {
    font-family: "enderian";
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: 0px 0px 10px #888;
  }
  
  button {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888;
    background-color: #f0c040;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
  }
  
  button:hover {
    box-shadow: 0px 0px 10px #888;
    background-color: #e0b030;
  }
  
